<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.collegemanagement">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ksit_logo_edited"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ksit_logo_edited"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeManagement"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name="com.example.collegemanagement.AddCollection"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.collegemanagement.StudentPage"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.collegemanagement.UpdateDocument"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.collegemanagement.ViewDocuments"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.collegemanagement.TeacherPage"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.collegemanagement.LoginActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.collegemanagement.AddUser"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.collegemanagement.AdminPage"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.collegemanagement.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>